* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

}

:root {
  --bg-dark-purple: #470061;
  --medium-purple: #965cb3c4;
  --bg-light-purple: #8351A8;
  --text-blue: #1A2C54;
  --text-light-rose: #F3B0DC;
  --text-gray: #888;
  --dark: #21252f;
  --orange: #FAB818;
  --light-dark: #59595B;
}

p {
  font-weight: 500;
}

a {
  color: var(--dark);
  text-decoration: none;
}

img {
  width: 100%;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vh-93 {
  position: relative;
  height: 93vh !important;
}

.text-700 {
  font-weight: 700;
}

.text-light-purple {
  color: var(--bg-light-purple);
}

.text-dark-purple {
  color: var(--bg-dark-purple);
}

.text-medium-purple {
  color: var(--medium-purple)
}

.text-light-rose {
  color: var(--text-light-rose);

}

.text-light-dark {
  color: var(--light-dark) !important;
}

.text-orange {
  color: var(--orange);

}

.text-gray {
  color: var(--text-gray) !important;
}

.navbar {
  background-color: #2e0f38;

}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.navbar .nav-link:hover {
  color: var(--text-light-rose);
}

.logo {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 5px;
}

.hero {
  background-image: url(../img/wallpaper.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, .8);
  z-index: -1;
}

.hero-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-hero-container {
  bottom: 0;

}

.hero h1 {
  font-weight: 900;
}

.iconbox {
  width: 54px;
  height: 54px;
  color: #fff;
  font-size: 50px;
  flex: none;
  margin-bottom: 5px;
}

.devices p {
  color: var(--text-gray);
  font-weight: 700;
}

.devices-bg {
  background-image: url(../img/devices.png);
  background-position: center;
  background-size: cover;

  height: 70%;
  width: 100%;
}



.my-btn {
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--bg-light-purple);
  color: #fff;
  border: none;
}

.my-btn:hover {
  background-color: #8251a8d1;

}

.anime-box {
  position: relative;
  overflow: hidden;

}

.anime-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 20, 51, .8);
  padding: 30px;
  transition: all .4s ease;
  opacity: 0;
}

.anime-box img {
  transition: all .4s ease;

}

.anime-box:hover .overlay {
  opacity: 1;
}

.anime-box:hover img {
  transform: scale(1.1);
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: #fff;
  padding: 2.2rem;
  transition: all .35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.icon-pricing {
  height: 100%;
  width: 200px;
}

.pricing .iconbox i {
  color: var(--text-light-rose);
}

.pricing i {

  color: var(--bg-light-purple);

}

.pricing ul li {
  margin-top: 15px;
}

.rounded-purple-bg {
  background-color: var(--bg-light-purple);
  padding: 40px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.blog-post p {
  color: var(--light-dark);
}

.blog-post a:hover {
  color: var(--bg-light-purple);
}

.social-icons a {
  width: 34px;
  height: 34px;
  background-color: var(--bg-light-purple);
  border: 2px solid var(--bg-light-purple);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: 5px;
  transition: all .4s ease;
}

.social-icons a:hover {
  color: var(--bg-light-purple);
  background-color: transparent;

}

.footer-top {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #2d003e;
  color: rgba(170, 169, 169, 0.807);
}

.footer-top a {
  color: rgba(170, 169, 169, 0.807);
}

.footer-top a:hover {
  color: #fff;
}

.footer-bottom {
  background-color: #260134;
  color: #fff;
}